
<h1>New cocktail</h1>

<%= simple_form_for @cocktail do |f| %>

  <%= f.input :name %>

  <%= link_to 'Cancel', cocktails_path, class: 'btn btn-secondary' %> or
  <%= f.submit class: 'btn btn-primary' %>
<% end %>